<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!----------------------Inter Polation------------------->
    <p>{{test}}</p>
    <h1>Welcome {{name}}</h1>
    <p>{{4+45}}</p>
    <!--Concatination-->
    <p>{{"Welcome"+ name}}</p>
    <!--Using Javascript Property And Methords-->
    <p>{{name.length}}</p>
    <p>{{name.toUpperCase()}}</p>
    <p>{{greetUser()}}</p>
    <!------------------close inter polation------------------>
</body>

</html>