<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- <p>{{Message}}</p> -->
    <!-- <app-basics></app-basics> -->
    <!-- <app-binding></app-binding> -->
    <!-- <app-if-component></app-if-component> -->
    <!-- <app-if-assignment></app-if-assignment> -->
    <!-- <app-switch></app-switch> -->
    <!-- <app-switch-assignment></app-switch-assignment> -->
    <!-- <app-for-component></app-for-component> -->
    <app-for-assignment></app-for-assignment>
    <!-- <app-component-interaction [parentData]="name"></app-component-interaction> -->
    <!-- <app-component-interaction (childEvent)="Message=$event" [parentData]="name"></app-component-interaction> -->
    <!-- <app-pipes></app-pipes> -->
    <!-- <app-employeefirst></app-employeefirst> -->
    <!-- <app-employeesecond></app-employeesecond> -->
    <!-- <app-storages></app-storages> -->

    <!-- <app-form1></app-form1> -->
    <!-- <app-form2></app-form2> -->
</body>

</html>