<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div [ngSwitch]="color">
        <div *ngSwitchCase="'red'">You pick red color</div>
        <div *ngSwitchCase="'blue'">You pick blue color</div>
        <div *ngSwitchCase="'green'">You pick green color</div>
        <div *ngSwitchDefault>You pick again</div>
    </div>
</body>

</html>